html{
    height: 100%;
    width: 100%;
}

body{
    min-height: 100%;
    width: 100%;
    font-family: 'Roboto Slab', serif;
}

#main-container{
    position: absolute;
    min-height: 100%;
    width: 100%;
}

#top-bar{
    width: 100%;
    text-align: center;
    padding: 20px;
    background-color: rgb(56, 135, 255);
    color: white;
}

#top-bar img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
}

#top-bar h1{
    font-weight: 800;
    text-transform: uppercase;
    font-size: 30px;
}

#top-bar button{
    background-color: transparent;
    border-color: transparent;
    color: white;
}

#top-bar button:hover{
    font-size: 110%;
}

#today-container {
    position: absolute;
    left: 94%;
    top: 20px;
}

#signIn-container {
    position: absolute;
    top: 20px;
    left: 2%;
}

#projects-tab{
    position: absolute;
    padding-top: 40px;
    min-height: 100%;
    width: 17%;
    border-right: 1pt solid rgb(177, 177, 177);
}

.project-elements{
    border-top: 1pt solid rgb(177, 177, 177);
}

#projects-tab-title{
    font-weight: 500;
    font-size: 20px;
    padding-bottom: 30px;
    padding-left: 35px;
}

.project-pv{
    display: flex;
    justify-content: space-between;
    padding: 10px;
    padding-left: 35px;
    margin-top: 0px;
    font-weight: 400;
    border-bottom: 1pt solid rgb(177, 177, 177);
}

.project-pv:hover, .highlighted{
    background-color: rgb(177, 177, 177);
    color: white;
}

.project-pv button{
    width: 18px;
    height: 18px;
    font-size: 13px;
    text-align: center;
    padding: 0px;
    background-color: transparent;
    color: rgba(255, 0, 0, 0.473);
    border: 1pt solid transparent;
    border-radius: 100%;
}

.project-pv h3:hover{
    text-shadow: 0px 0px 10px black;
}

.project-pv button:hover{
    color: red;
}

#new-project-container{
    display: flex;
    padding-top: 5px;
}

#new-project-container input{
    border-color: transparent;
    padding-left: 4px;
    max-width: 80%;
}

#new-project-button{
    width: 25px;
    height: 25px;
    font-size: 20px;
    margin-left: 5px;
    background-color: transparent;
    color: rgb(177, 177, 177);
    padding: 0;
    text-align: center;
    border: 1pt solid transparent;
    border-radius: 100%;
}

#new-project-button:hover{
    color: gray;
    text-shadow: 0px 0px 5px gray;
}

#project-display{
    position: absolute;
    left: 17%;
    padding-top: 30px;
    padding-left: 40px;
}

#new-todo-button{
    background-color: transparent;
    border: 1pt solid rgb(56, 135, 255);
    color: rgb(56, 135, 255);
    font-family: 'Roboto Slab', serif;
    font-weight: 300;
    font-size: 12px;
    border-radius: 5%;
    margin-top: 10px;
}

#new-todo-button:hover{
    background-color: rgb(56, 135, 255);
    color: white;
}

.checkbox-container{
    display: flex;
    margin-bottom: 20px;
}

.checkbox-container input{
    margin-right: 10px;
}

.checkbox-container p{
    margin-left: 20px;
    color: rgb(196, 196, 196);
}

.checkbox-container .checked{
    text-decoration: line-through;
    color: rgb(196, 196, 196);
}

.priority-1{
    color: rgb(2, 194, 207);
}

.priority-2{
    color: rgb(2, 207, 94);
}

.priority-3{
    color: rgb(207, 204, 2);
}

.priority-4{
    color: rgb(231, 124, 24);
}

.priority-5{
    color: rgb(207, 2, 2);
}

.todo-details{
    border: 1pt solid rgb(56, 135, 255);
    border-radius: 5px;
    padding: 15px;
    font-weight: 200;
}

.todo-details input, textarea{
    font-weight: 200;
    border: 1pt solid rgb(196, 196, 196);
}

.todo-details-title-and-date{
    display: flex;
    margin-bottom: 10px;
}

.todo-details-date-container{
    margin-left: 10px;
    display: flex;
    border: 1pt solid rgb(196, 196, 196);
}

.todo-details-date-container input{
    border-color: transparent;
    padding: 0;
}

.year-input{
    max-width: 60px;
}

.month-input, .day-input{
    max-width: 30px;
}

.todo-details-priority-container{
    margin-bottom: 10px;
}

.todo-details-description-container, .todo-details-notes-container{
    margin-bottom: 10px;
}

.alert{
    border-color: red;
}

.todo-details-bottom-buttons{
    margin-top: 20px;
}

.todo-details-bottom-buttons button, #new-checkitem-button{
    margin-right: 10px;
    background-color: white;
    color: rgb(177, 177, 177);
    border: 1pt solid rgb(177, 177, 177);
    border-radius: 5px;
    font-family: 'Roboto Slab', serif;
    font-weight: 200;
    font-size: 13px;
}

.todo-details-bottom-buttons button:hover, #new-checkitem-button:hover{
    color: white;
    background-color: rgb(177, 177, 177);
    border-color: transparent;
}

#new-checkitem-button{
    border-radius: 20px;
    padding: 0;
    width: 20px;
    height: 20px;
}

.checkitem-container{
    margin-bottom: 10px;
}

.checkitem-container input[type= checkbox]{
    margin-right: 5px;
}

.checkitem-delete-button{
    margin-left: 5px;
    padding: 0;
    background-color: transparent;
    border: none;
    color: rgba(255, 0, 0, 0.473);
}

.checkitem-delete-button:hover{
    color: red;
}
